<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/styles.css">
	<title></title>
</head>
<body>
	<nav>
		<a href="/">&#x1F3E0;</a> /
		{% for segment in paths %}
			{% set cumulative = paths[:loop.index]|join('/') + '/' %}
			{% if loop.last and request.path.endswith('/') %}
				<span>{{segment}}</span>
			{% else %}
				<a href="/{{cumulative}}">{{segment}}</a>
			{% endif %}
			{% if not loop.last %}/{% endif %}
		{% endfor %}
	</nav>
	<main>
		{% block content %}{% endblock %}
	</main>
</body>
</html>
